.square {
    border: 2px solid black;
    border-color: black;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.board-row {
    display: block;
}

.status {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}